body {
    background-color: #BAB4BD;
}

.header {
  font-size: 3vw;
  height: 20vh;
  text-align: center;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(/images/treeoflife.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  line-height: 20vh; /* <-- this is what you must define */
  vertical-align: middle;
}

table, th {
  color: white;
  background-color: #6B6070;
  border: 1px solid black;
  padding: 15px;
}

h5 {
  color: white;
}

img {
  max-height: 200px;
}

td {
  color: white;
  background-color: rgba(102,112,107,.75);
  border: 1px solid black;
  padding: 15px;
}
